{% extends 'base.html' %}

{% block content %}
  <h2>Group List</h2>
  <ul>
    {% for group in groups %}
      <li><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></li>
    {% endfor %}
  </ul>
  <a href="{% url 'create_group' %}">Create a new group</a>

  <h2>My Groups</h2>
  <ul>
    {% for group in groups %}
      {% if user in group.members.all %}
        <li><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
  <a href="{% url 'home' %}">Back to Home</a>
{% endblock %}
