{% extends 'base.html' %}
{% block title %}Group List{% endblock %}
{% block content %}
<h2>Group List</h2>

<form method="get" action="{% url 'group_list' %}" class="mb-3">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search groups" value="{{ query }}">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<button type="button" class="btn btn-success mx-1"><a href="{% url 'create_group' %}" class="link-offset-2 link-underline link-underline-opacity-0 text-white">New group</a></button>
<table class="table table-bordered my-1 mx-1">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Tags</th>
      <th scope="col">Place</th>
      <th scope="col">Desc</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
      <tr>
        <th scope="row">{{ group.id }}</th>
        <td><a href="{% url 'group_detail' group.id %}" class="text-black link-offset-2 link-underline link-underline-opacity-0">{{ group.name }}</a></td>
        <td>{{group.tags}}</td>
        <td>{{group.place}}</td>
        <td>{{group.description}}</td>
      <td>
      {% if user in group.members.all %}
        <button type="button" class="btn btn-danger mx-1"><a href="{% url 'leave_group' group.id %}" class="link-offset-2 link-underline link-underline-opacity-0 text-white">Leave Group</a></button>
      {% else %}
        <button type="button" class="btn btn-success mx-1"><a href="{% url 'join_group' group.id%}" class="link-offset-2 link-underline link-underline-opacity-0 text-white">Join Group</a></button>
      {% endif %}
      {% if user == group.creator %}
        <button type="button" class="btn btn-warning mx-1"><a href="{% url 'update_group' group.id %}" class="link-offset-2 link-underline link-underline-opacity-0 text-white">Update Group</a></button>
        <button type="button" class="btn btn-danger mx-1"><a href="{% url 'delete_group' group.id %}" class="link-offset-2 link-underline link-underline-opacity-0 text-white">Delete Group</a></button>
      {% endif %}
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  


  <h2>My Groups</h2>
  <table class="table table-bordered my-1 mx-1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Tags</th>
        <th scope="col">Place</th>
        <th scope="col">Desc</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        {% if user in group.members.all %}
        <th scope="row">{{ group.id }}</th>
        <td><a href="{% url 'group_detail' group.id %}" class="text-black link-offset-2 link-underline link-underline-opacity-0">{{ group.name }}</a></td>
        <td>{{group.tags}}</td>
        <td>{{group.place}}</td>
        <td>{{group.description}}</td>
        <td>
        <button type="button" class="btn btn-danger mx-1"><a href="{% url 'leave_group' group.id %}" class="link-offset-2 link-underline link-underline-opacity-0 text-white">Leave Group</a></button>
          {% if user == group.creator %}
            <button type="button" class="btn btn-warning mx-1"><a href="{% url 'update_group' group.id %}" class="link-offset-2 link-underline link-underline-opacity-0 text-white">Update Group</a></button>
            <button type="button" class="btn btn-danger mx-1"><a href="{% url 'delete_group' group.id %}" class="link-offset-2 link-underline link-underline-opacity-0 text-white">Delete Group</a></button>
          {% endif %}
        {% endif %}
        </td>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
