<!-- group_list.html -->

{% extends 'base.html' %}
{% load static %}
{% block title %}Map{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Groups Map</h2>
  <div id="map" style="height: 500px;"></div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function initMap() {
    var map = L.map('map').setView([55.755735, 37.620996], 13);  // Set initial map coordinates and zoom level

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    {% for group in groups %}
      var lat = {{ group.latitude }};
      var lng = {{ group.longitude }};
      var place = "{{ group.place }}";
      var name = "{{ group.name }}";

      var marker = L.marker([lat, lng]).addTo(map);
      marker.bindPopup(`
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">${name}</h5>
            <p class="card-text">Место: ${place}</p>
            <a href="{% url 'group_detail' group.id %}" class="btn btn-primary">Join</a>
          </div>
        </div>
      `);

      var customIcon = L.icon({
        iconUrl: '{% static "images/default.png" %}', // Adjust the path based on your project structure
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
      });

          // Create a marker for the user's location
      var userMarker = L.marker([0, 0], { draggable: false, icon: customIcon }).addTo(map);

      // Function to update the marker with the user's location
      function updateUserLocation(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        userMarker.setLatLng([lat, lng]).update();
        map.setView([lat, lng], 15); // Set the view to the user's location with a higher zoom level
      }

      // Function to handle errors in geolocation
      function handleLocationError(error) {
        console.error(`Error getting location: ${error.message}`);
      }

      // Check if geolocation is supported by the browser
      if ('geolocation' in navigator) {
        // Use the Geolocation API to get the user's location
        navigator.geolocation.getCurrentPosition(updateUserLocation, handleLocationError);
      } else {
        console.error('Geolocation is not supported by your browser');
      }
    {% endfor %}
  }

  document.addEventListener("DOMContentLoaded", function () {
    initMap();
  });
</script>
{% endblock %}
