{% extends "base.html" %}
{% load static %}
{% block content %}
<table class="table mx-auto mt-5 border rounded" style="width: fit-content">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Tags</th>
      <th scope="col">Members</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for group in groups %}
        <tr>
            <td>{{group.name}}</td>
            <td>{{group.tags}}</td>
            <td>{{group.members}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger"><a href="{% url "leave" group.id %}" class="link-offset-2 link-underline link-underline-opacity-0">Leave</a></button>
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}